@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Fira Sans", "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
  overflow-x: hidden; }

article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0; }

a {
  color: inherit;
  outline: none; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top; }

code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: inherit; }

ul,
ol {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #eee; }

th,
td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #eee; }

blockquote,
q {
  quotes: none; }

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none; }

input,
textarea {
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none; }
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: none; }

textarea {
  resize: none; }

input[type="submit"] {
  cursor: pointer;
  border: none; }
  input[type="submit"]:hover, input[type="submit"]:focus {
    outline: none;
    border: none; }
  input[type="submit"] ::-moz-focus-inner {
    padding: 0;
    border: none; }

input[type="radio"] {
  display: none; }
  input[type="radio"] + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 1.2em;
    margin: 0 0.2em 0;
    cursor: pointer; }
    input[type="radio"] + span::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #fff;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: block; }
    input[type="radio"] + span::after {
      opacity: 0;
      transition: opacity 0.3s ease 0s; }
    input[type="radio"] + span:focus, input[type="radio"] + span:checked {
      outline: none;
      border: 1px solid #fff;
      box-shadow: none;
      background: #333; }
  input[type="radio"]:checked + span::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0.2em;
    transform: translateY(-50%);
    background: #333;
    border-radius: 50%;
    width: 0.6em;
    height: 0.6em;
    display: block;
    opacity: 1; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 1.2em;
    margin: 0 0.2em 0;
    cursor: pointer;
    transition: all 0.3s ease 0s; }
    input[type="checkbox"] + span::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #fff;
      border: 1px solid transparent;
      border-radius: 2px;
      width: 1em;
      height: 1em;
      display: block; }
    input[type="checkbox"] + span::after {
      opacity: 0;
      transition: opacity 0.3s ease 0s; }
  input[type="checkbox"]:checked + span::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
    width: 1em;
    height: 0.6em;
    margin-top: -0.2em;
    display: block;
    border-left: 3px solid #333;
    border-bottom: 3px solid #333;
    opacity: 1; }

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: none; }

.inner {
  margin: 0 auto;
  padding: 80px 0;
  max-width: 100%;
  width: 820px; }
  @media screen and (max-width: 819px) {
    .inner {
      padding-right: 24px;
      padding-left: 24px; } }
  @media screen and (max-width: 767px) {
    .inner {
      padding-right: 12px;
      padding-left: 12px; } }

/* 左寄せ */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: none; }
  @media screen and (max-width: 767px) {
    .drawer {
      display: block; } }

#drawer-check {
  display: none; }

.drawer-open {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: #efa336;
  z-index: 41; }
  .drawer-open span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 28px;
    margin: -2px 0 0 -14px;
    background: #fff;
    border-radius: 3px;
    transition: 0.5s ease-in-out; }
    .drawer-open span::before, .drawer-open span::after {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: #fff;
      display: block;
      content: "";
      cursor: pointer;
      margin: -2px 0 0 -50%;
      top: 50%;
      left: 50%;
      transform: rotate(0);
      transition: 0.5s ease-in-out; }
    .drawer-open span::before {
      margin-top: -10px;
      transform: rotate(0); }
    .drawer-open span::after {
      margin-top: 6px;
      transform: rotate(0); }

.drawer-close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: 0.3s ease-in-out; }

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 250px;
  max-width: 90%;
  height: 100%;
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: translateX(-105%);
  padding-top: 62px; }
  .drawer-content .drawer-title {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    padding: 0 34px; }

#drawer-check:checked .drawer-head {
  line-height: 60px;
  text-align: center;
  color: #efa336;
  font-size: 1.2em;
  font-weight: 700; }

#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0); }
  #drawer-check:checked ~ .drawer-open span::before, #drawer-check:checked ~ .drawer-open span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    width: 28px;
    height: 4px;
    margin: -2px 0 0 -14px;
    background: #fff; }
  #drawer-check:checked ~ .drawer-open span::before {
    transform: rotate(-45deg); }
  #drawer-check:checked ~ .drawer-open span::after {
    transform: rotate(45deg); }

#drawer-check:checked ~ .drawer-close {
  display: block;
  opacity: 0.4; }

#drawer-check:checked ~ .drawer-content {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16); }

/* 右寄せ */
.drawer.m_right {
  left: auto;
  right: 0; }

.drawer.m_right .drawer-content {
  left: auto;
  right: 0;
  transform: translateX(105%);
  text-align: left; }

.drawer.m_right #drawer-check:checked ~ .drawer-content {
  transform: translateX(0); }

.drawer-item a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 1em; }

#modal-checkbox {
  display: none; }

.modal-open {
  cursor: pointer;
  display: inline-block;
  position: relative; }

.modal-close {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  z-index: 99; }

.modal-content {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  transition: all 0.3s ease-in-out 0s;
  transform: translate(-50%, -50%);
  opacity: 0;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
  padding: 1em;
  z-index: 100; }

#modal-checkbox:checked ~ .modal-content {
  opacity: 1; }

#modal-checkbox:checked ~ .modal-close {
  display: block;
  opacity: 0.6; }

* {
  font-family: "Fira Sans", "Meiryo UI", "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", roboto, sans-serif;
  box-sizing: border-box;
  color: #333; }

*::-webkit-scrollbar {
  display: none; }

.view-inner {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto; }

.bg-item {
  background: rgba(213, 213, 213, 0.2);
  border-radius: 0.5vw; }

.btn-input {
  width: 15vw;
  height: 3.6vw;
  border-radius: 100vw;
  font-size: 1.5vw;
  text-align: center; }

.btn-input::placeholder {
  color: rgba(255, 255, 255, 0.5); }

.btn-simple {
  background: transparent;
  border: 0.1vh solid #fff;
  color: #fff; }

.btn-yellow {
  display: inline-block;
  line-height: 3.6vw;
  background: transparent;
  border: 0.1vh solid #ffff00;
  color: #ffff00;
  transition: 0.2s;
  cursor: pointer; }

.btn-purple {
  width: 10vw;
  height: 5vh;
  border-radius: 100vw;
  background: transparent;
  border: 0.1vh solid #9D67F2;
  color: #9D67F2;
  font-size: 1vw;
  text-align: center;
  transition: 0.2s;
  cursor: pointer; }

.btn-purple:hover {
  background: #9D67F2;
  color: #fff; }

.btn-yellow:hover {
  background: #ffff00;
  color: #333; }

.input-area {
  position: relative;
  width: 100%;
  height: 5vh;
  margin-bottom: 1vh;
  background: #fff;
  border: 0.1vh solid #9D67F2;
  border-radius: 100vw;
  display: flex;
  align-items: center; }

.btn-action::before,
.btn-action-top::before {
  position: absolute;
  right: 0;
  font-size: 1vw;
  font-weight: 900;
  cursor: pointer; }

.btn-action::before {
  top: 50%;
  transform: translate(-1vw, -50%); }

.btn-action-top::before {
  top: 0;
  transform: translate(-1.5vw, 1vw); }

.btn-delete::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free", sans-serif;
  color: #FC4A4A; }

.btn-create {
  position: relative;
  width: 2vw;
  height: 2vw;
  margin: 0 auto;
  cursor: pointer; }

.btn-create::before {
  position: absolute;
  content: "\f067";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1CD377;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 1vw;
  font-weight: 900; }

.btn-pulldown::before {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free", sans-serif;
  color: #333; }

#main-bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(0.25turn, #9E66F2, #61AFE8); }

#main-bg-overlay-top {
  display: none; }

#main-bg-overlay-rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: #fff; }

#main-bg-overlay-triangle {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10vw 100vw;
  border-color: transparent;
  border-bottom-color: #fff; }

#main-bg-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100vw;
  height: 90vh;
  transform: translateY(-48%);
  background: #fff; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  padding-left: 20px; }

#header h1 {
  color: #fff;
  font-size: 2vw;
  font-weight: 900; }

#top {
  display: none; }

#top-title-wrapper {
  position: absolute;
  top: 45%;
  left: 10vw;
  width: 50vw;
  max-width: 1400px;
  height: 60vh;
  transform: translate(0, -50%); }

#top-title {
  color: #fff;
  font-size: 3vw;
  font-weight: 900;
  margin-bottom: 20px; }

#top-title-caption {
  color: #fff;
  font-size: 1.5vw;
  line-height: 3vw;
  margin-bottom: 36px; }

#form-connect-port-num {
  margin-right: 20px; }

#top-img-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  overflow: hidden; }

#top-img-small {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 20vw;
  height: calc(20vw * 1.27);
  transform: rotate(-7deg); }

#top-img-large {
  position: absolute;
  top: 35%;
  right: -2%;
  width: 24vw;
  height: calc(24vw * 1.27);
  transform: rotate(-7deg); }

#contents {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 90vh;
  transform: translate(-50%, -48%);
  display: flex;
  justify-content: space-around;
  align-items: center; }

#contents-operator {
  width: 47.5%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#contents-editor {
  width: 47.5%;
  height: 95%; }

#tabs {
  position: relative;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: start;
  align-items: center; }

#tabs::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1vh;
  background: #d5d5d5; }

.tab-item {
  width: 25%;
  height: 100%;
  font-size: 1vw;
  background: rgba(51, 51, 51, 0.1);
  color: rgba(51, 51, 51, 0.5);
  border: 0.1vh solid #d5d5d5;
  border-bottom: transparent;
  border-radius: 0.5vw 0.5vw 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.tab-item:last-of-type {
  border-right: 0.1vw solid #d5d5d5; }

.tab-item-current {
  background: #fff;
  color: #333; }

#content-item-wrapper {
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#content-index,
#content-search,
#content-analyze,
#content-summary {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; }

#content-search,
#content-analyze {
  overflow: scroll; }

#content-index,
#content-search,
#content-analyze,
#content-summary {
  display: none; }

#content-show-index,
#content-create-index {
  width: 100%;
  height: 47.5%;
  display: flex;
  justify-content: center;
  align-items: center; }

#content-show-index-items,
#form-create-index {
  width: 100%;
  height: 100%;
  padding: 1vh 2vw;
  overflow: scroll; }

.content-show-index-item {
  position: relative;
  width: 100%;
  height: 5vh;
  padding-left: 1vw;
  margin-bottom: 1vh;
  background: #fff;
  border: 0.1vh solid #d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content-show-index-item-text {
  width: 90%;
  font-size: 1vw;
  color: #333;
  white-space: nowrap;
  overflow: scroll; }

.content-show-index-item-text::-webkit-scrollbar,
.content-create-index-item-source-text::-webkit-scrollbar {
  display: none; }

.form-create-index-item:last-of-type {
  background: transparent;
  border: none;
  justify-content: center;
  margin-top: 3vh; }

.form-create-index-item-header {
  width: 10vw;
  height: 5vh;
  margin-right: 2vw;
  background: #9D67F2;
  border: 0.1vh solid #9D67F2;
  border-radius: 100vw 0 0 100vw;
  color: #fff;
  font-size: 1vw;
  line-height: 5vh;
  text-align: center; }

.form-create-index-input {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 65%;
  height: calc(5vh - 0.1vw * 2);
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  border-radius: 100vw;
  font-size: 1vw;
  color: #333; }

.form-create-index-input::placeholder {
  color: rgba(0, 0, 0, 0.5); }

#editor {
  width: 100%;
  height: 95%;
  border: 1px solid #d5d5d5;
  border-radius: 0 0.5vw 0.5vw 0.5vw; }

.ace_editor, .ace_editor * {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
  color: #333; }

#editor-header {
  position: relative;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center; }

.editor-header-item {
  width: 5%;
  height: 100%;
  background: rgba(51, 51, 51, 0.1);
  border: 0.1vh solid #d5d5d5;
  border-bottom: none;
  border-radius: 0.5vw 0.5vw 0 0;
  color: rgba(51, 51, 51, 0.5);
  font-size: 1vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

#editor-header-folder {
  background-image: url("/images/folder.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.2vw 1.2vw; }

.editor-header-file {
  width: auto;
  line-height: 5%;
  padding: 0 1vw; }

.editor-current {
  color: #333;
  background: #fff; }

.content-search-item,
.content-analyze-item {
  position: relative;
  width: 100%;
  height: 47.5%;
  margin-bottom: 1vh;
  padding: 1vh 2vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start; }

.content-analyze-item {
  height: 25%; }

.content-search-item-index,
.content-analyze-item-index {
  width: 80%;
  padding: 0 2vw;
  font-size: 1vw;
  color: #333;
  overflow: scroll; }

.content-search-item-query-wrapper,
.content-analyze-item-query-wrapper {
  position: relative;
  width: 80%;
  margin-bottom: 1vh;
  background: url("/images/arrow.png") no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content-search-item-query,
.content-analyze-item-analyzer {
  width: 45%;
  margin-bottom: 0;
  padding: 0 2vw;
  font-size: 1vw;
  color: #333;
  overflow: scroll; }

.content-search-item-keyword,
.content-analyze-item-keyword {
  width: 45%;
  margin-bottom: 0;
  padding: 0 2vw;
  font-size: 1vw;
  color: #333;
  overflow: scroll; }

.content-search-item-icon,
.content-analyze-item-icon {
  position: absolute;
  top: 50%;
  right: 0.5vw;
  transform: translate(0, -50%);
  width: 2vw;
  height: 2vw;
  background: #9D67F2;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.content-search-item-icon::before,
.content-analyze-item-icon::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  right: 0.5vw;
  transform: translate(0, -50%);
  width: 1vw;
  height: 1vw;
  background-image: url("/images/search.png");
  background-repeat: no-repeat;
  background-size: contain; }

.content-search-item-result-wrapper,
.content-analyze-item-result-wrapper {
  width: 100%;
  height: calc(100% - 5vh * 2 - 1vh * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap; }

.content-search-item-result-item,
.content-analyze-item-result-item {
  width: 50%;
  height: 4.5vh;
  background: #fff;
  border-top: 0.1vh solid #d5d5d5;
  border-right: 0.1vh solid #d5d5d5;
  display: flex;
  justify-content: left;
  align-items: center; }

.content-analyze-item-result-item {
  width: 100%;
  border: 0.1vh solid #d5d5d5; }

.content-search-item-result-item:nth-of-type(n+1) {
  border-left: 0.1vh solid #d5d5d5; }

.content-search-item-result-item:nth-of-type(5n) {
  border-bottom: 0.1vh solid #d5d5d5; }

.content-search-item-result-header {
  width: 10%;
  height: 100%;
  font-size: 1vw;
  color: #333;
  border-right: 0.1vh solid #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center; }

.content-search-item-result-text,
.content-analyze-item-result-text {
  width: 90%;
  padding: 0 1vw;
  font-size: 1vw;
  color: #333;
  white-space: nowrap;
  overflow: scroll; }

.content-analyze-item-result-text {
  width: 100%; }
